/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/03/2016, 10:31:44 AM
    Author     : PabloAnibal
*/
body {
  display: flex;
  flex-flow: row;
  width: 100vw;
  height: 100%;
  font-family: helvetica;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

header {
  height: 127px;
  background: #272221;

}

header ul li{color: white;}

.row {
  box-sizing: border-box;
  display: flex;
  width: 100vw;
  flex-flow: row wrap;
}

.miniMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.miniMenu div {
  padding: 10px 15px;
  border-right: 1px solid #272221;
}

.col-1 {
  flex-basis: 8.3333333333%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-1 img {
  width: 100%;
}

.col-2 {
  flex-basis: 16.6666666667%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-2 img {
  width: 100%;
}

.col-3 {
  flex-basis: 25%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-3 img {
  width: 100%;
}

.col-4 {
  flex-basis: 33.3333333333%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-4 img {
  width: 100%;
}

.col-5 {
  flex-basis: 41.6666666667%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-5 img {
  width: 100%;
}

.col-6 {
  flex-basis: 50%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-6 img {
  width: 100%;
}

.col-7 {
  flex-basis: 58.3333333333%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-7 img {
  width: 100%;
}

.col-8 {
  flex-basis: 66.6666666667%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-8 img {
  width: 100%;
}

.col-9 {
  flex-basis: 75%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-9 img {
  width: 100%;
}

.col-10 {
  flex-basis: 83.3333333333%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-10 img {
  width: 100%;
}

.col-11 {
  flex-basis: 91.6666666667%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-11 img {
  width: 100%;
}

.col-12 {
  flex-basis: 100%;
  box-sizing: border-box;
  min-height: 50px;
}
.col-12 img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
