/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/03/2016, 10:31:44 AM
    Author     : PabloAnibal
*/
body{
	display: flex;
	flex-flow: row;
	width: 100vw;
	height: 100%;
	font-family: helvetica;
	margin: 0;
	padding: 0;
	flex-direction: column;
}

header{
	height: 127px;
	background: #272221;
        ul li{
            color: white;
        }
}

.row{
	box-sizing: border-box;
	display: flex;
	width: 100vw;
	flex-flow: row wrap;
}

.miniMenu{
	display: flex;
	justify-content: center;
	align-items: center;
	div{
		padding: 10px 15px;
		border-right:1px solid #272221;
	}
}

@mixin column {
	@for $i from 1 to 13 {
		.col-#{$i}{
			flex-basis: percentage(($i/12));
			box-sizing: border-box;
			min-height: 50px;
			img{
				width: 100%;
			}
		}
	}
}

@include column();

